.heroBackground {
  background: linear-gradient(rgba(252, 235, 0, 0.6), rgba(252, 237, 0, 0.2)),
    url(../images/fons.jpg);
  background-blend-mode: normal;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin-top: -198px;
  margin-bottom: 40px;
}
